h1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    

}

.score{
    text-align:center;
    background-color: purple;
    font-size:20px;
    color:red;
    /* border: red dashed;
    border-radius: 30px; */
    border: solid 10px black;

    
}
.container{
    
    border: 3px solid;
    border-radius:5px;
    background-color: green;
    padding:10px;
    
    
   
}
.options{
    background-color:gray;
    text-align: center;
    border:solid black;
    border-radius:30px;
    margin-top: 10px;
    padding:10px;
    
    
    
}
.gamedecision{
    background-color:purple;
    border-radius: 30px;
    border:solid black;
    margin-top:10px;
}
img{
    width:110px;
    height:110px;
}

h2{
    text-align:center;
}

.resetBtn{
    display: flex;
    justify-content: center;
    align-items: space-between;
}


#p1, #p2{
    color:black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

p{
    font-weight:bolder;
    font-size: xx-large;
}

#reset{
    margin-top:10px;
    width:100px;
    height:50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

.gamedecision h2{
    color:black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.choose{
    border: solid black 5px;
    border-radius: 50%;
}

strong{
    font-size: xx-large;
    color:green;
}