h1{
    text-align: center;
    font-family:
    

}

.score{
    text-align:center;
    background-color: purple;
    font-size:20px;
    color:red;
    /* border: red dashed;
    border-radius: 30px; */
    border:
    
}
.container{
    
    border: 3px solid;
    border-radius:30px;
    background-color: green;
    padding:10px;
    
    
   
}
.options{
    background-color:gray;
    text-align: center;
    border:solid black;
    border-radius:30px;
    
    padding:10px;
    
    
    
}
.gamedecision{
    background-color:aquamarine;
    border-radius: 30px;
    border:solid black;
    margin-top:10px;
}
img{
    width:200px;
    height:200px;
}

h2{
    text-align:center;
}

.resetBtn{
    display: flex;
    justify-content: center;
    align-items: space-between;
}


#p1, #p2{
    color:black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

p{
    font-weight:bolder;
    font-size: xx-large;
}

#reset{
    margin-top:10px;
    width:100px;
    height:50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

.gamedecision h2{
    color:red;
}

